<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
    <div id="todolist" class="container">
        <input type="text"  v-model="textNewTask" placeholder="Inserisci un nuovo task"  @keydown.enter="addTask">

        <h2 v-if="tasks.length === 0">La tua lista è vuota&#33;&#33;&#33;&#33;</h2>
        <ul v-else>
            <li v-for="task, i in tasks" :key="i">
                <span :class="task.done? 'done' : ''">{{ task.text }}</span>
                <div @click="taskDone(i)" class="check">
                    &#10003;
                </div> 
                <div @click="deleteTask(i)" class="cross">
                    &#10007;
                </div>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/script.js"></script>
</body>
</html>